{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "babel-plugin-transform-builtin-classes",
      {
        "globals": ["Array", "Error", "HTMLElement"]
      }
    ]
  ]  
}