:root {
  --body-background-color: #fdfdfd;
  --london-overground-color: #e86a10;
  --central-color: #dc241f;
  --bakerloo-color: #894e24;
  --circle-color: #ffce00;
  --district-color: #007229;
  --hammersmith-city-color: #d799af;
  --jubilee-color: #6a7278;
  --metropolitan-color: #751056;
  --northern-color: #000;
  --piccadilly-color: #0019a8;
  --victoria-color: #00a0e2;
  --waterloo-city-color: #76d0bd;
  --tfl-rail-color: #0019a8;
  --dlr-color: #00afad;
  --tram-color: #6c0;
  --line-info-background-color: #fefefe;
}

html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-background-color);
}

/* avatar and google sign in styles */
.avatar {
  position: absolute;
  top: 8px;
  right: 8px;
}

.avatar__image {
  width: 95px;
  border-radius: 90px;
}

/* tube-status-wrapper styles */
.tube-status-wrapper {
  display: flex;
  flex-direction: column;
}

/* tube-line styles */
.tube-line {
  height: 78px;
  margin: 7px 14px;
  font-size: 18px;
  display: flex;
  background-color: var(--tube-line-background-color);
  border-radius: 10px;
  box-shadow: 4px 12px 47px 0 rgba(0, 0, 0, 0.1);
}

.tube-line[line='london-overground'] .tube-line-sub__status {
  background-color: var(--london-overground-color);
}

.tube-line[line='dlr'] .tube-line-sub__status {
  background-color: var(--dlr-color);
}

.tube-line[line='tfl-rail'] .tube-line-sub__status {
  background-color: var(--tfl-rail-color);
}

.tube-line[line='waterloo-city'] .tube-line-sub__status {
  background-color: var(--waterloo-city-color);
}

.tube-line[line='victoria'] .tube-line-sub__status {
  background-color: var(--victoria-color);
}

.tube-line[line='piccadilly'] .tube-line-sub__status {
  background-color: var(--piccadilly-color);
}

.tube-line[line='northern'] .tube-line-sub__status {
  background-color: var(--northern-color);
}

.tube-line[line='metropolitan'] .tube-line-sub__status {
  background-color: var(--metropolitan-color);
}

.tube-line[line='jubilee'] .tube-line-sub__status {
  background-color: var(--jubilee-color);
}

.tube-line[line='hammersmith-city'] .tube-line-sub__status {
  background-color: var(--hammersmith-city-color);
}

.tube-line[line='district'] .tube-line-sub__status {
  background-color: var(--district-color);
}

.tube-line[line='circle'] .tube-line-sub__status {
  background-color: var(--circle-color);
}

.tube-line[line='central'] .tube-line-sub__status {
  background-color: var(--central-color);
}

.tube-line[line='bakerloo'] .tube-line-sub__status {
  background-color: var(--bakerloo-color);
}

.tube-line[score="6"] {
  order: 1;
}

.tube-line[score="5"] {
  order: 2;
}

.tube-line[score="4"] {
  order: 3;
}

.tube-line[score="3"] {
  order: 4;
}

.tube-line[score="2"] {
  order: 5;
} 

.tube-line[score="1"] {
  order: 6;
} 

.tube-line--active {
  cursor: pointer;
}

.tube-line--active:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.2s;
}

.tube-line-sub,
.tube-line-info {
  flex: 50%;
}

.tube-line-info__reason-title,
.tube-line-info__reason-context {
  margin: 0 0 0 10px;
}

.tube-line-sub__status {
  color: rgba(250, 250, 250, 1);
  height: 100%;
  display: inline-block;
  width: 300px;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 1);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

/* delays present on line */
.tube-line--active .tube-line-info__reason-title::after {
  content: '';
  background-image: url(/images/error.svg);
  position: absolute;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  margin-left: 5px;
}

/* footer styles */
.footer-reference {
  display: flex;
  flex-direction: column;
}

/* loading wheel styles */
.tube-line-sub .tube-status-loading--active-line + tube-status-authentication,
.tube-status-loading--hidden,
.tube-status-modal--hidden,
.app-wrapper--hidden {
  display: none;
}

.tube-line-sub .tube-status-loading--hidden + tube-status-authentication,
.tube-status-loading--active,
.tube-status-loading--active-line {
  display: block;
}

.tube-status-loading--active {
  border: 8px solid rgba(0, 0, 0, 0.7);
  border-top: 8px solid rgba(250, 250, 250, 0.7);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
}

.tube-status-loading--active-line {
  border: 4px solid rgba(0, 0, 0, 0.7);
  border-top: 4px solid rgba(250, 250, 250, 0.7);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

/* modal styles */
.tube-status-modal--active {
  min-height: 200px;
  min-width: 300px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: firebrick;
}

/* animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}