html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* avatar and google sign in styles */
#google-avatar {
    width: 95px;
    border-radius: 90px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.subscribe {
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
}

/* tube line styles */
tube-line.active {
    cursor: pointer;
}

tube-line.active:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.2s;
}

tube-status-wrapper {
    display: flex;
    flex-direction: column;
}

tube-line[score="6"] {
    order: 1;
}

tube-line[score="5"] {
    order: 2;
}

tube-line[score="4"] {
    order: 3;
}

tube-line[score="3"] {
    order: 4;
}

tube-line[score="2"] {
    order: 5;
} 

tube-line[score="1"] {
    order: 6;
} 

/* footer styles */
.footer-attribution-wrapper {
    display: flex;
    flex-direction: column;
}

/* loading wheel styles */
.loading[hide],
[hide] {
    display: none;
}

.loading[show] {
    display: block;
    border: 8px solid rgba(0, 0, 0, 0.7);
    border-top: 8px solid rgba(250, 250, 250, 0.7);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: calc(50% - 48px);
    left: calc(50% - 48px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}